@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 16px;
}

.main-container{
width: 80%;
margin: 0 auto;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}





/* header */
/*  */
.logo{
    font-size: 1.2rem;
    color: cornsilk;
    margin-left: 20px;
}
.logo span {
    font-family: 'Allison', cursive;
    font-size: 3rem;
}
.flex_1{
    justify-content: space-between;
    align-items: baseline;
}
.position{
    position: fixed;
    top: 0;
    z-index: 12;
}
.main-header{
  
    background-color: rgb(158, 88, 88);
    padding: 5px;
    width: 100%;
    
}
.main-header nav a{
    color: white;
    text-decoration: none;
}

.main-header-left nav a{
    margin-left: 20px;
    word-spacing: 20px;
}
.main-header-right nav a{
    margin-right: 40px;
    word-spacing: 20px;
}
.button-bars{
    margin-right: 30px;
    display: none;
    
}
.button-bars div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }
.header-menu-mobile{
    background-color: rgb(27, 25, 25);
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: none;
}
.header-menu-mobile nav {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-menu-mobile nav a{
    text-decoration: none;
    color: rgb(160, 154, 154);
    font-size: 1.2rem;
    padding: 20px;
}



@media (max-width: 500px){

    .button-bars{
        display: block;
    }

    .main-header-right nav{
        display: none;
    }
    .main-header-left nav{
        display: none;
    }


}

.show{
    display: block !important;
    animation: showmenu 0.35 ease-in-out;
}

@keyframes showmenu {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
} 

/* recipes */

#recipesbtn{
    margin-left: 15px;
    color: white;
}
#recipesbtn:hover{
    font-weight: bolder;
    
}
.recipes nav {
    width: 100%;
    height: 200px;
    background-color: black;
    flex-direction: column;
    padding: 10px;
}

.recipes nav a{
 text-decoration: none;
 color: gray;
 font-size: larger;
}
.recipes{
    width: 10%;
    position: fixed;
    top: 40px;
    left:240px;
    z-index: 15;
}
.none{
    display: none;
}
.showrecipe{
display: block !important;
animation: showrecp 0.4 ;

}
 
@keyframes showrecp {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}






.bg1-contact{
    height: 400px;
    background-image: url(../img/fruit-and-vegetable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* top section */
.contact{
    margin-top: 50px;
}
.top-section-contact{
    background-color: pink;
    color: rgb(27, 25, 25);
    height: 350px;
    justify-content: center;
    align-items: center; flex-direction: column;
}
.bottom-section-contact{
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    border: 1px gray solid;
    text-transform: capitalize;
    text-align: center;
}