@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Devanagari:wght@300&display=swap');
body{
    margin: 0;
    font-family: 'IBM Plex Sans Devanagari', sans-serif;
    font-size: 16px;
}

.main-container{
width: 80%;
margin: 0 auto;
}
.flex{
    display: flex;
}
.grid{
    display: grid;
}





/* header */
/*  */
.logo{
    font-size: 1.2rem;
    color: cornsilk;
    margin-left: 20px;
}
.logo span {
    font-family: 'Allison', cursive;
    font-size: 3rem;
}
.flex_1{
    justify-content: space-between;
    align-items: baseline;
}
.position{
    position: fixed;
    top: 0;
    z-index: 12;
}
.main-header{
  
    background-color: rgb(158, 88, 88);
    padding: 5px;
    width: 100%;
    
}
.main-header nav a{
    color: white;
    text-decoration: none;
}

.main-header-left nav a{
    margin-left: 20px;
    word-spacing: 20px;
}
.main-header-right nav a{
    margin-right: 40px;
    word-spacing: 20px;
}
.button-bars{
    margin-right: 60px;
    display: none;
    
}
.button-bars div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
  }
.header-menu-mobile{
    background-color: rgb(27, 25, 25);
    position: absolute;
    /* top: 0; */
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    display: none;
    z-index: 20;
}
.header-menu-mobile nav {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-menu-mobile nav a{
    text-decoration: none;
    color: rgb(160, 154, 154);
    font-size: 1.2rem;
    padding: 20px;
}



@media (max-width: 480px){

    .button-bars{
        display: block;
    }

    .main-header-right nav{
        display: none;
    }
    .main-header-left nav{
        display: none;
    }
    .banner-bg{
        height: 600px;
    }
 .banner-bg h1{
     width: 20%;
     font-size: small;
     margin: 0;
 }
 .middle-content-3{
     flex-direction: column;
     height: 1200px;
     width: 100%;
 }

 .text-box{
    width:400px;
 }
}

.show{
    display: block !important;
    animation: showmenu 0.35 ease-in-out;
}

@keyframes showmenu {
    0%{
        transform: translateX(100%);
    }

    100%{
        transform: translateX(0%);
    }
} 

/* recipes */

#recipesbtn{
    width: 40%;
    margin-left: 15px;
    color: white;
}
#recipesbtn:hover{
    font-weight: bolder;
    
}
.recipes nav {
    width: 100%;
    height: 200px;
    background-color: black;
    flex-direction: column;
    padding: 10px;
}

.recipes nav a{
 text-decoration: none;
 color: gray;
 font-size: larger;
}
.recipes{
    width: 10%;
    position: fixed;
    top: 60px;
    left:300px;
    z-index: 15;
}
.none{
    display: none;
}
.showrecipe{
display: block !important;
animation: showrecp 0.4 ;

}
 
@keyframes showrecp {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}
















/* banner */
.banner-bg{
background-color: rgb(158, 88, 88);
height: 600px;
margin-bottom: 10px;
}
.banner-bg h1{
    color: blanchedalmond;
    text-align: center;
    font-size: 6em ;
    position: absolute;
    top: 100px;
}




/* middle-section */

.middle_section{
    background-color:rgba(231, 228, 228, 0.966);
    padding: 20px;
    justify-content: space-around;
    height: 400px;
    align-items: center;
    
}

.middle-content{
    background-color: rgba(233, 190, 203, 0.199);
    width: 80%;
    height: 600px;
    border: 1px solid grey;
    padding: 20px;
    margin: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  
}
.middle-content{
    flex-direction: column;
}

.align-center{
    text-align: center;
}

@media (max-width: 480px){

    
    .middle-section{
        margin: 0;
        flex-direction: column;
        
    }
    .middle-content{
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 30%;
        border: 1px solid grey;
        padding: 20px;
        margin: 30px;
        flex-direction: column;
        align-items: center;
      
    }


}
.middle-content  a{
    background-color: rgb(230, 46, 46);
    border-radius: 10px;
    /* box-shadow: ; */
    padding: 15px 60px ;
    width: 100%;
    text-decoration: none;
    color: white;
    font-size: large;
    
}
.middle-content a:hover{
    background-color: rgb(146, 3, 3);

}
.middle-content div{
    margin: 30px 0;

}




/* middle-section-2 */
.grid_3{
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.middle-content-2{
    flex-direction: column;
    margin-top: 20px;
}
.middle-content-2 div{
    text-align: center;
    padding: 10px;
}
.middle-content-2 img{
    border-radius:50% ;
}
.middle-content-2 img{
    width: 250px;
    height: 200px;
    padding: 30px;
}


@media (max-width: 480px){

    .grid_3{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .middle-content-2 div{
        text-align: start;
    }
    .middle-content-2 img{
        border-radius:10px ;
    }
    .middle-section-2 h1{
        background-color: thistle;
        padding-left:50px;
        text-align: start;
    }
    .bottom-section p{
        text-align: start;
        margin-left: 10px;
    }
    .fa{
        text-align: start;
        border-radius: 50%;
        width: 30px;
        padding: 20px;
    }
    
}

/* middle-content */
.middle-content-3{
    justify-content: center;
}
.text-box{
    margin-top: 0;
    height: 360px;
    text-align: start;
    background-color: rgb(155, 199, 162);
    padding: 20px;
    width: 80%;

}
/* .text-box p{
padding: 20px 30px;

} */
.middle-content-3 img{
    width: 352px;
    height: 400px;
}


/* bottom-section */

.bottom-section{
    height: 200px;
    
}




/* social media */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
      color: white;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 )
  }  







/* create-recipes */
.body-create{
    background-image: url("../img/max-delsid-81QFH8r4xog-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.create-container{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(70, 32, 36, 0.527);
    color: plum;
    padding: 20px;
    margin-top: 50px;
}
textarea{
    width: 500px;
    height: 200px;
}
@media (max-width:480px){
    textarea{
        width: 200px;
        height: 200px;
    } 
}




/* contact */
.bg1-contact{
    height: 400px;
    background-image: url(../img/fruit-and-vegetable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* top section */
.contact{
    margin-top: 50px;
}
.top-section-contact{
    background-color: pink;
    color: rgb(27, 25, 25);
    height: 350px;
    justify-content: center;
    align-items: center; flex-direction: column;
}
.bottom-section-contact{
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    border: 1px gray solid;
    text-transform: capitalize;
    text-align: center;
}